<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.arinal.made">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
            android:name="com.arinal.made.READ_DATABASE"
            android:protectionLevel="normal" />
    <permission
            android:name="com.arinal.made.WRITE_DATABASE"
            android:protectionLevel="normal" />

    <application
            android:name=".ReferenceSeeApplication"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <receiver
                android:name=".services.BootUpReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
                android:name=".utils.FavoriteContentProvider"
                android:authorities="com.arinal.made"
                android:exported="true"
                android:readPermission="com.arinal.made.READ_DATABASE"
                android:writePermission="com.arinal.made.WRITE_DATABASE" />

        <service
                android:name=".services.DailyUpdateService"
                android:enabled="true"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
                android:name=".services.ReminderService"
                android:enabled="true"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
                android:name=".services.AlarmReceiver"
                android:enabled="true"
                android:exported="false" />

        <service
                android:name=".services.StackWidgetService"
                android:exported="false"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".utils.widget.FavoritesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/favorites_widget_info" />
        </receiver>

        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity
                android:name=".ui.home.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.detail.DetailActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>